.headline {
    font-size: 0.32rem;
    color: #333333;
    text-align: center;
    height: 0.88rem;
    line-height: 0.88rem;
    position: relative;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1000;
    background: #fff;
}

.headline_span {
    display: inline-block;
    background: url(../images/left-arrow.png) no-repeat center;
    height: 0.38rem;
    width: 0.24rem;
    background-size: 100%;
    position: absolute;
    left: 0.41rem;
    top: 0.2rem;
    padding: 0.1rem;
    background-origin: content-box;
}
.swiper-slide .nape:nth-child(2) .nape_right  {
border-bottom: none;
}
.conten {
    padding: 0.54rem 0.4rem;
    margin-top: .8rem;
}

.conten_con {
    width: 100%;
    height: 1.60rem;
    margin-bottom: 0.85rem;
}

.conten_con_con {
    height: 1.60rem;
    width: 1.60rem;
    background: #ddd;
    border-radius: 0.18rem;
    float: left;
}

.conten_con_con img {
    height: 1.60rem;
    width: 1.60rem;
    background: #ddd;
    border-radius: 0.18rem;
}

.conten_con_right {
    float: right;
    width: 70%;
    height: 1.60rem;
    position: relative;
}

.conten_con_right h4 {
    color: #070707;
    font-size: 0.34rem;
}

.conten_con_span {
    display: inline-block;
    height: 0.44rem;
    line-height: 0.44rem;
    text-align: center;
    width: 0.93rem;
  
    font-size: 0.28rem;
    position: absolute;
    bottom: 0.06rem;
    left: 0rem;
    border-radius: 1.08rem;
      background: #f0f1f6;
      color: #3d8ed3;
}

.conten_con_fx {
    display: inline-block;
    background: url(../images/lopal_03.png) no-repeat center;
    height: 0.346rem;
    width: 0.46rem;
    background-size: 100%;
    position: absolute;
    right: 0rem;
    bottom: -0.1rem;
    padding: 0.1rem;
    background-origin: content-box;
}

.particulars_img {
    height: 5.16rem;
    width: 100%;
}

.swiper-slides {
    margin-right: 0.31rem;
    width: 3.91rem !important;
    height: 5.16rem;
}

.blue-slide {
 
}

.red-slide {
    background: #CA4040;
    height: 5.16rem;
}

.orange-slide {
    background: #FF8604;
    height: 5.16rem;
}

.synopsis h6 {
    color: #070707;
    font-size: 0.3rem;
    font-weight: 400;
    margin-bottom: 0.1rem;
}

.synopsis p {
    color: #515151;
    font-size: 0.24rem;
    line-height: 0.4rem;
}

.synopsis {
   
    width: 100%;
    margin-top: 0.72rem;
    border-top: 0.01rem solid #d2d2d2;
    box-sizing: border-box;
    padding-top: 0.47rem;
}

.synopsis_pl_sp {
    height: 0.3rem;
    margin-bottom: 0.5rem;
}

.synopsis_pl_sp h5 {
    float: left;
 font-size: 0.37rem;
    color: #070707;
    font-weight: 400;
}

.synopsis_pl_spl {
    float: right;
    font-size: 0.3rem;
    color: #8a8a8a;
}

.synopsis_span {
    display: inline-block;
    background: url(../images/stply_11.png) no-repeat center;
    height: 0.35rem;
    width: 0.3rem;
    background-size: 100%;
    padding: 0.1rem;
    background-origin: content-box;
    vertical-align: middle;
    position: relative;
    top: -0.02rem;
}

.synopsis_pol {
    min-height: 3.6rem;
    margin-bottom: 0.31rem;
    background: #e8e8e8;
    border-radius: 0.12rem;
    padding: 0.4rem;
}

.synopsis_pol img {
    border-radius: 50%;
    height: 0.8rem;
    width: 0.8rem;
    float: left;
}

.synopsis_pol_lo {
    float: right;
    width: 100%;
}

.opsi {
    width: 100%;
    margin-bottom: 0.1rem;
}

.opsi_left {
    float: left;
    color: #727272;
    font-size: 0.28rem;
}

.opsi_right {
    float: right;
    color: #bdbdbd;
    font-size: 0.28rem;
}

.synopsis_pol_lo p {
    font-size: 0.3rem;
    color: #3e3e3e;
}

.fext {
    font-size: 0.32rem;
    color: #333333;
    text-align: center;
    height: 0.88rem;
    line-height: 0.88rem;
    position: relative;
    background: #fff;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1000;
    display: none;
}

.conten_con_sp {
    position: absolute;
    right: 0.09rem;
    top: 0;
    display: inline-block;
    height: 0.44rem;
    line-height: 0.44rem;
    text-align: center;
    width: 0.93rem;
 
    font-size: 0.28rem;
    margin-top: 0.25rem;
    position: absolute;
    border-radius: 1.08rem;
    background: #f0f1f6;
    color: #3d8ed3;
}

.fext_pol {
    display: inline-block;
    height: 0.56rem;
    width: 0.56rem;
    border-radius: 0.18rem;
    background: #dddddd;
    margin-top: 0.18rem;
}
.synopsis_pol_xx li{
    float: left;
        margin-right: 0.02rem;
}
.synopsis_pol_xx {
        color: #828181;
        margin-bottom: 0.1rem;
}
.synopsis_pl_sps {
    height: 0.3rem;
    margin-bottom: 0.5rem;
}
.synopsis_pl_sps h5 {
    float: right;
   font-size: 0.3rem;
   color: #8a8a8a;
    font-weight: 400;
}
.synopsis_pl_spls {
    float: left;
    font-size: 0.3rem;
    color: #8a8a8a;
}
.synopsis_spans {
    display: inline-block;
    background: url(../images/stply_11.png) no-repeat center;
    height: 0.35rem;
    width: 0.3rem;
    background-size: 100%;
    padding: 0.1rem;
    background-origin: content-box;
    vertical-align: middle;
    position: relative;
    top: -0.02rem;
}
.synopsis_lo{
        border-top: 0.01rem solid #d2d2d2;
        box-sizing: border-box;
        padding-top: 0.47rem;
}
.swiper-slidee{
    width: 93%;
    margin-right: 3%;
}
.synopsis_pl_sp .syukl {
    font-size: 0.27rem;
}
.nape {
    height: 2.1rem;
    width: 100%;
}
.nape_left {
    float: left;
    height: 1.77rem;
    width: 26%;
    background: #dddede;
    border-radius: 0.17rem;
}
.nape_right {
    float: right;
    height: 2.1rem;
    width: 70%;
    border-bottom: 0.01rem solid #d2d2d2;
}
.nape_right h6 {
    font-size: 0.3rem;
    color: #070707;
    margin-bottom: 0.08rem;
    font-weight: 400;
    margin-top: 0.1rem;
}
.nape_right p {
    font-size: 0.26rem;
    color: #515151;
}
.nape_right span {
    display: inline-block;
    height: 0.44rem;
    line-height: 0.44rem;
    text-align: center;
    width: 0.93rem;
        background: #f0f1f6;
        color: #3d8ed3;
    font-size: 0.28rem;
    border-radius: 1.08rem;
    margin-top: 0.25rem;
}
.macks,
.napes {
    z-index: 10001;
}