.headline {
    text-align: left;
    height: 0.88rem;
    line-height: 0.88rem;
    border-bottom: none;
    font-size: 0.55rem;
    color: #333333;
    padding: 0 0.4rem;
    margin-top: 0.58rem;
}

.conten_con {
    padding: 0 0.4rem;
}

.conten_con_img {
    height: 6.93rem;
    width: 100%;
    background: #dddede;
    border-radius: 0.18rem;
    margin: 0.47rem auto;
}
.swiper-slide .napes:nth-child(4) .nape_rights_spam  {
border-bottom: none;
}

.nape_rights_spam.sdp  {
border-bottom: none;
}
.Recommend_h2 {
    color: #333333;
    font-size: 0.32rem;
    margin-bottom: 0.41rem;
}
.Recommendlp{
    padding: 0.37rem;
    box-sizing: border-box;
    height: 7.96rem;
    width: 100%;
    margin: 0px auto;
    background: rgb(255, 255, 255);
    border-radius: 0.18rem;
    transition: all 0.2s linear;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px -2px 30px;
    transform: translate3d(0px, -2px, 0px);
    display: block;
}

.Recommend {
    padding-top: 0.55rem;
    /* border-top: 0.01rem solid #d2d2d2; */
    margin-bottom: 0.23rem;
}

.orange-slide {
    background: #FF8604;
}

.nape {
    height: 2.1rem;
    width: 100%;
}

.swiper-slide .nape:nth-child(2n+2) {
    margin-top: 0.28rem;
}

.nape_right {
    float: right;
    height: 2.1rem;
    width: 70%;
    border-bottom: 0.01rem solid #d2d2d2;
}

.nape_left {
    float: left;
    height: 1.77rem;
    width: 26%;
    background: #dddede;
    border-radius: 0.17rem;
}

.nape_left img {
    height: 1.77rem;
    width: 100%;
    background: #dddede;
    border-radius: 0.17rem;
}

.swiper-slide {
    /* margin: 0 20px; */
}

.nape_right p {
    font-size: 0.26rem;
    color: #515151;
}

.nape_right h6 {
    font-size: 0.3rem;
    color: #070707;
    margin-bottom: 0.08rem;
    font-weight: 400;
    margin-top: 0.1rem;
}

.conten {
    margin-bottom: 1.2rem;
}

.nape_right span {
    display: inline-block;
    height: 0.44rem;
    line-height: 0.44rem;
    text-align: center;
    width: 0.93rem;
    background: #f0f1f6;
    color: #3d8ed3;
    font-size: 0.28rem;
    border-radius: 1.08rem;
    margin-top: 0.25rem;
}

.Recommend_cont {
    padding: 0.37rem 0.37rem;
    box-sizing: border-box;
    height: 7.96rem;
    width: 100%;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 0.18rem;
    transition: all .2s linear;
    overflow: hidden;
}

.Recommendnew {
    padding: 0.37rem 0.37rem;
    box-sizing: border-box;
    height: 7.96rem;
    width: 100%;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 0.18rem;
    transition: all .2s linear;
    overflow: hidden;
    box-shadow: 0 -2px 30px rgba(0, 0, 0, 0.1);
    transform: translate3d(0, -2px, 0);
}

/* =================== */

.napes {
    position: relative;
    height: 1.26rem;
    width: 100%;
    margin-bottom: 0.17rem;
}

.nape_lefts {
    float: left;
    height: 1rem;
    width: 1rem;
    background: #dddede;
    border-radius: 0.17rem;
}

.nape_rights {
    float: left;
    height: 1.24rem;
    width: 74%;
}

.nape_rights h6 {
    font-size: 0.3rem;
    color: #070707;
    margin-bottom: 0.08rem;
    font-weight: 400;
}

.nape_rights p {
    font-size: 0.16rem;
    color: #515151;
}

.nape_rights_spam span {
    position: absolute;
    display: inline-block;
    height: 0.44rem;
    line-height: 0.44rem;
    text-align: center;
    width: 0.93rem;
    /* border: 0.01rem solid #515151; */
    font-size: 0.28rem;
    border-radius: 1.08rem;
    margin-top: 0.25rem;
    top: 0;
    right: 3px;
    background: #f0f1f6;
    color: #3d8ed3;
}

.nape_rights_spam {
    display: inline-block;
    width: 76%;
    float: right;
    margin-left: 0.38rem;
    position: relative;
    border-bottom: 0.01rem solid #d2d2d2;
}

.mack_li {
    height: 0.99rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #fff;
    padding: 0 0.4rem;
    box-sizing: border-box;
    z-index: 10;
}

.mack {
    height: 812px;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(58, 58, 58, 0.8);
    z-index: 1000;
}

.mack_li div {
    height: 0.99rem;
    width: 32.333333333333333%;
    float: left;
    text-align: center;
    box-sizing: border-box;
    padding-top: 0.09rem;
}

.mack_li div p {
    font-size: 0.2rem;
    color: #9E9E9E;
}

.mack_top {
    width: 100%;
    height: 4rem;
    position: fixed;
    bottom: 0;
    background: rgb(255, 255, 255);
    z-index: 10001;
}

.content {
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 3.93rem;
    padding-top: .18rem;
    background-color: #fff;
}

.miniapp-code {
    width: 1.8rem;
    height: 1.8rem;
}

.miniapp-name {
    margin: .18rem;
}

.tips {
    line-height: .34rem;
    color: #83898f;
    font-size: .24rem;
}

.tips {
    line-height: .34rem;
    color: #83898f;
    font-size: .24rem;
}

.Recommend_cont,
.conten_con_img {
    box-shadow: 0 -2px 30px rgba(0, 0, 0, 0.1);
    transform: translate3d(0, -2px, 0);
}

.Recommend .poty {
    position: absolute;
    transition: all .2s linear;
}

.Recommend .potyp {
    transform: scale3d(0.9, 0.9, 1);
}

.conten_con_fx {
    display: inline-block;
    background: url(../images/share-right.png) no-repeat center;
    height: 0.346rem;
    width: 0.46rem;
    background-size: 100%;
    position: absolute;
    right: 0.2rem;
    top: 0.2rem;
    padding: 0.1rem;
    background-origin: content-box;
    z-index: 1000;
}

#Recommend_cont {
    position: absolute;
    top: 0;
}

.macks,
.napes {
    z-index: 10001
}

.Recommendnew.divc {
    animation: myfirst 0.8s;
}
.Recommend_cont.divc {
    animation: myfirst 0.8s;
}

@keyframes myfirst {
    0% {
        transform: scale3d(0.99, 0.99, 1);
    }
    /* 10% {
        transform: scale3d(0.97, 0.97, 1);
    }
    25% {
        transform: scale3d(0.95, 0.95, 1);
    }
     35% {
         transform: scale3d(0.93, 0.93, 1);
     }
     45% {
         transform: scale3d(0.91, 0.91, 1);
     } */
    50% {
        transform: scale3d(0.9, 0.9, 1);
    }
    /* 60% {
        transform: scale3d(0.91, 0.91, 1);
    }
     70% {
         transform: scale3d(0.93, 0.93, 1);
     }
      80% {
          transform: scale3d(0.95, 0.95, 1);
      }
       80% {
           transform: scale3d(0.97, 0.97, 1);
       } */
    100% {
        top: 0px;
        transform: scale3d(1, 1, 1);
    }
}

.headline img {
    width: 0.5rem;
    float: right;
    margin-top: 0.16rem;
}

.mack_li div img {
    height: 0.5rem;
    width: 0.5rem;
    ;
}